*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(99, 81, 5);
}

h1 {
    height: auto;
    width: auto;
    color:rgb(233, 186, 128);
    font-family: "Papyrus", Copperplate, fantasy;
}

p {
    height: auto;
    width: auto;
    color:rgb(255, 243, 190);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    height: auto;
    width: auto;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    height: auto;
    width: auto;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    height: 200px;
    width: 100px;
}